* {
    margin: 0;
    padding: 0;
}

html { 
    overflow-x: hidden;
    max-width: 100vw; 
}

header { 
    overflow-x: hidden; 
    padding: none;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
    margin: 0!important;
    padding: 0!important;
    font-family: 'Work Sans', sans-serif;
    color: #343C37;
    background-color: #FAF9F6;
    max-width: 100vw;
}

a:link { text-decoration: none; color: #343C37; }
        
a:visited { text-decoration: none; color: #343C37;}

a:hover { text-decoration: none; color: #343C37;}

a:active { text-decoration: none; color: #343C37;}

.header-logo {
    display: flex;
    align-items: center;
    padding-top: 1vh;
    padding-left: 2vw;
}

.hero {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%; 
    height: 40vh;
    background-image: url(../images/garden-table.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    vertical-align: middle; 
    justify-content: center; 
    border-top: 2px solid #343C38;
    border-bottom: 2px solid #343C38;
}

.center-text {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #353C38;
}


.block p {
    text-align: left; 
    padding-left: 5%; 
    padding-top: 8vh; 
    padding-bottom: 4vh;
}

.grid-container {
    width: 100%;
    padding-bottom: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container div {
    padding: 1vw;
    
}

.grid-container ul {
    list-style-type: none; 
    display: flex; 
    flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.grid-container li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-tile {
    background-color: #beccc0;
    width: 50%;
    margin: 2vw;
    padding: 2vw;
    flex-direction: column;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.portfolio-tile:after{
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: relative;
    top: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    z-index: -1;  
}

.portfolio-tile:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.portfolio-tile img {
    width: 100%;
    border-radius: 2px;
}

.wrapper {
    display: grid;
    border-top: 2px solid #353C38;
  }

.wrapped-block {
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    padding: 0;
  }

.wrapped-block h2 {
    padding-bottom: 2vh;
}

.wrapped-block p {
    padding-bottom: 2vh;
}

.site-footer {
    border-top: 2px solid #343C38;
    background-color: #5B695D;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.site-footer a {
    color: white;
}

.column {
    flex: 1;
    color: white;
    text-align: left;
    justify-content: left;
    display: flex;
}