@import url("https://use.typekit.net/vmb1fpc.css");
@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Work+Sans:wght@200&display=swap');


* {
    padding: 0;
    margin: 0;
}

html { 
    overflow-x: hidden;
    max-width: 100%; 
}

header { 
    overflow-x: hidden; 
    padding: none;
    max-width: 100%;
}

body {
    overflow-x: hidden;
    margin: 0!important;
    padding: 0!important;
    font-family: 'Work Sans', sans-serif;
    color: #343C37;
    background-color: #FAF9F6;
    max-width: 100%;
}

h1, h2, h3 {
    font-family: "lust-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}


a:link { text-decoration: none; color: #343C37; }
        
a:visited { text-decoration: none; color: #343C37;}

a:hover { text-decoration: none; color: #343C37;}

a:active { text-decoration: none; color: #343C37;}

@media screen and (max-width: 768px) {

    #desktop-content {
        display: none;
    }

    .nav-link {
        font-size: 10px;
    }

    .nav-menu button {
        display: none;
    }

    .hero-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .wrapped-block {
        padding-left: 10%;
    }

    .logo-container {
        display: flex;
        flex-direction: left;
        justify-content: left;
        align-items: center;
    }

    .logo-container img {
        max-width: 30vw;
    }

    .logo-container h2 {
        margin-top: -3vh;
    }

    .hero {
        padding-top: 20%;
        color: #343C38;
        /* background-color: #E4DCD5; */
        background-color: #beccc0;
        height: 40vh;
    }

    .hero p {
        text-align: center;
        border-top: 1px solid #343C38;
        border-bottom: 1px solid #343C38;
        margin: 4vh 0 0;
        width: 200px;
    }

    .show-garden p {
        padding-top: 5vh;
        padding-left: 7vw;
    }

    .show-garden-image {
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: left;
        flex-direction: column;
    }

    .show-garden img {
        padding-top: 1vh;
        max-width: 88%;
    }

    #overlay-image {
        width: 60%;
        margin-top: -10vh;
        margin-left: 35vw;
        object-fit: cover;
    }

    .wrapper-mobile {
        padding-top: 10%;
        display: inline-flex;
        justify-content: center;
        align-content: center;
        text-align: center;
        flex-direction: column;
    }

    .wrapped-block-mobile {
        margin-top: 10%;
        padding: 6%;
        flex-direction: column;
    }

    .nav-button {
        border: 1px solid #343C38;
        padding: 10px
    }

    .center-nav-mobile {
        margin-top: 10%;
        border-top: 1px solid #343C38; 
        border-bottom: 1px solid #343C38;
        border-left: none;
        border-right: none;
        width: fit-content;
    }

    .center-nav-mobile li {
        border-bottom: 1px solid #343C38
    }

    .center-nav-mobile a {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }

    .recent-work-mobile {
        margin-top: 10%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .portfolio-tile {
        margin-top: 8vh;
    }

    .portfolio-tile, .portfolio-tile a{
        display: flex;
        justify-content: center;
        text-align: left;
        align-items: center;
        flex-direction: column;
    }

    .portfolio-tile img {
        height: 500px;
        width: 90%;
        object-fit: cover;
    }

    .portfolio-name {
        margin: 0;
        padding: 0;
        padding-bottom: 1vh;
        width: 90%;
        border-bottom: 2px solid #343C38;
    }


}

@media screen and (min-width: 769px) {


    #mobile-content {
        display: none;
    }

    .site-header {
        position: relative; 
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%; 
        z-index: 12;
        margin: 0;
    }

    .nav-menu {
        padding-left: 5vw;
        padding-right: 5vw;
    }

    .nav-menu ul {
        padding: none;
        list-style: none;
        margin: 0;
        display: flex; 
        align-items: center;
    }

    .nav-menu li {
        padding: none;
        font-size: 18px;
        padding-left: 1rem;
    }

    .nav-link a::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #343C38;
        transition: width .3s;
    }

    .nav-link a:hover::after {
        width: 100%;
        transition: width .3s;
    }

    .nav-menu button{
        background-color: #353C38;
        border: none;
        color: white;
        padding: 8px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 12px;
        transition-duration: 0.4s;
    }

    .nav-menu button:hover {
        background-color: #beccc0;
        color: #343C38;
    }

    .hero {
        /* margin-top: -20%; */
        background-color: #beccc0;
        height: 700px;
        margin-bottom: -20%;
    }

    .hero-wrapper {
        padding-top: 15%;
        padding-left: 10%;
        height: 60%;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        display: grid;
        margin-bottom: -20%;
    }

    .wrapped-block {
        margin-bottom: -20%;
    }

    .nav-button-desktop {
        background-color: transparent;
        color: #343C38;
        font-size: 16px;
        position: relative;
        transition: all 0.3s ease;
        cursor: pointer;
        padding: 10px;
        max-width: fit-content;
      }
    
    .nav-button-desktop:hover {
        padding-right: 30px;
      }
      
    .nav-button-desktop span {
        padding-left: 20px;
        display: inline-block;
        position: relative;
        top: 50%;
        right: 0;
        transform: translateX(-20%);
        transition: transform 0.3s ease;
      }
      
    .nav-button-desktop:hover span {
        transform: translateX(10px);
      }

    .show-garden img {
        max-width: 70%;
    }

    #overlay-image {
        width: 100%;
        margin-top: -20%;
        margin-left: -30%;
        object-fit: cover;
    }

    .wrapper-desktop {
        display: grid;
        max-width: 100%; 
        grid-template-columns: 1fr 1fr; 
        padding: 20% 10% 10% 0!important;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }

    .wrapped-block-desktop {
        max-width: 1fr;
        padding: 0 10% 0 10%;
        flex-direction: column;
    }

    .recent-work-desktop {
        display: flex;
        width: 100%;
        align-items: center;
    }

    .recent-work-desktop ul {
        width: 100%;
        margin: 0 10% 0 5%;
        display: inline-flex;
        align-items: center;
    }

    .recent-work-desktop li {
        object-fit: cover;
        margin: 2%;
    }

    .portfolio-tile {
        width: 100%;
    }

    .portfolio-name {
        margin: 0;
        padding: 0;
        padding-bottom: 1vh;
        width: 100%;
        border-bottom: 2px solid #343C38;
    }

    .rotate-portfolio {

        /* Safari */
        -webkit-transform: rotate(-90deg);
        
        /* Firefox */
        -moz-transform: rotate(-90deg);
        
        /* IE */
        -ms-transform: rotate(-90deg);
        
        /* Opera */
        -o-transform: rotate(-90deg);
        
        float: left;
        
        }
        
        .hero-nav {
            margin-top: 5%;
            width: 70%;
            border-top: 1px solid #343C38;
        }


        .hero-nav a {
            border-bottom: 1px solid #343C38;
            padding: 10px;
            display: flex;
            justify-content: space-between;
            background-color: transparent;
            color: #343C38;
            font-size: 16px;
            position: relative;
            transition: all 0.3s ease;
            cursor: pointer;
          }
        
        .hero-nav a:hover {
            padding-right: 30px;
          }
          
        .hero-nav a span {
            padding-left: 20px;
            display: inline-block;
            position: relative;
            top: 50%;
            right: 0px;
            transform: translateX(-20%);
            transition: transform 0.3s ease;
          }
          
        .hero-nav a:hover span {
            transform: translateX(10px);
          }
        
        .center-wrapper-desktop {
            align-items: center;
            text-align: left;
        }

        .accordion-desktop {
            width: 800px!important;
        }
}

.center-wrapper {
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0 15% 0;
    flex-direction: column;
}

.portfolio-tile {
    margin-top: 6%;
}

.portfolio-tile img {
    object-fit: cover;
    max-width: 100%;
}

.accordion {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
    border-top: 1px solid #343C38;
    width: 90%;
}

.accordion-label {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    padding: 10px;
}

.accordion-label:hover {
    background-color: #beccc0;
    color: #343C38;
    transition-duration: 0.4s;
}

.accordion-content {
    display: none;
    padding: 2%;
    margin: 0;
}

.accordion-menu {
    display: none;
}

.accordion-menu:checked ~ .accordion-content {
    height: auto;
    display: flex;
    align-items: center;
}

.accordion-menu:checked ~ .accordion-label span {
    -webkit-transform: rotate(180deg);
    transition-duration: 0.4s;

}

.accordion-menu:checked ~ .accordion-label {
    background-color: #beccc0;
    transition-duration: 0.4s;
    border-bottom: 1px solid #343C38;
}

