
.nav{
    overflow: auto;
    display: block;
    position: fixed;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #E5F0EF;
    font-family: 'Cabin', sans-serif;
    text-decoration: solid;
    font-size: x-large;   
}

a {
    text-decoration: none;
    font-family: 'Cabin', sans-serif;
    padding: 5px;
    display: inline;
    color: #616161;
  }

.logo {
    position: fixed;
    align-items: center;
    margin: 0;
    padding: 20px 20px;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.heading1 {
    display: inline-block;
    position: fixed;
    align-items: center;
    text-align: center;
    width: 95%;
    padding: 10px 10px;
    border-radius: 5px;
    background-color: #7B9692;
    font-family: 'Cabin', sans-serif;
    text-decoration: solid;
    font-size: x-large;
    color: white;
}

.container {
    width: 100%;
    margin: 10px auto;
    display: inline-block;
    padding: 10px;
}

.animated-border {
    display: inline-block;
    color: #616161;
    text-decoration: none;
  }
  
.animated-border::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #616161;
    transition: width .3s;
  }
  
.animated-border:hover::after {
    width: 100%;
    transition: width .3s;
  }
  
