@import url('https://fonts.googleapis.com/css2?family=Newsreader:wght@500&family=Work+Sans:wght@200&display=swap');

html { 
    overflow-x: hidden;
    max-width: 100vw; 
}

header { 
    overflow-x: hidden; 
    padding: none;
    max-width: 100vw;
}

body {
    overflow-x: hidden;
    margin: 0!important;
    padding: 0!important;
    font-family: 'Work Sans', sans-serif;
    color: #343C37;
    background-color: #FAF9F6;
    max-width: 100vw;
}

img {
    pointer-events: none;
}

a:link { text-decoration: none; color: #343C37; }
        
a:visited { text-decoration: none; color: #343C37;}

a:hover { text-decoration: none; color: #343C37;}

a:active { text-decoration: none; color: #343C37;}

/* website header */

.site-header {
    position: relative; 
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw; 
    z-index: 12;
    margin: 0;
}

.nav-menu {
    padding-left: 5vw;
    padding-right: 5vw;
}

.nav-menu ul {
    padding: none;
    list-style: none;
    margin: 0;
    display: flex; 
    align-items: center;
}

.nav-menu li {
    padding: none;
    font-size: 18px;
    padding-left: 1rem;
}

.nav-link a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #343C38;
    transition: width .3s;
}

.nav-link a:hover::after {
    width: 100%;
    transition: width .3s;
}

.nav-menu button{
    background-color: #353C38;
    border: none;
    color: white;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s;
}

.nav-menu button:hover {
    background-color: #beccc0;
    color: #343C38;
}

/* page 1 content */ 

.hero {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100vw; 
    height: 100vh; 
    background-image: url(../images/garden-table.png); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    vertical-align: middle; 
    justify-content: center; 
    border-top: 2px solid #343C38;
    border-bottom: 2px solid #343C38;
}

.hero a:link { text-decoration: none; color: white; }
        
.hero a:visited { text-decoration: none; color: white;}

.hero a:hover { text-decoration: none; color: white;}

.hero a:active { text-decoration: none; color: white;}

#img-blur {
    position: relative;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0.75px); 
    height: 100%;
    width: 100%;
} 

.hero-content {
    position: relative;
    top: 40%; 
    display: inline-flex;
    align-items: left; 
    justify-content: left; 
    flex-direction: column;
    padding-left: 20%;
}

.center-text {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 3%;
    padding-bottom: 3%;
    border-bottom: 2px solid #353C38;
}

.block {
    min-height: 50vh;
}

.block p {
    text-align: left;
}

.grid-container {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    margin: 0;
    
}

.grid-container div {
    padding: 1vw;
    
}

.grid-container ul {
    list-style-type: none; 
    display: inline-flex; 
    align-items: center;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.portfolio-tile {
    background-color: #beccc0;
    margin: 10px;
    flex-direction: column;
    border-radius: 2px;
    font-size: 24px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    justify-content: center;
    text-align: left;
    position: relative;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    cursor: pointer;
}

.portfolio-tile:after{
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: relative;
    top: 0;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    z-index: -1;  
}

.portfolio-tile:hover {
    -webkit-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.portfolio-tile img {
    max-width: 20vw;
    border-radius: 2px;
}

.portfolio-button {
    background-color: transparent;
    color: #343C38;
    font-size: 16px;
    position: relative;
    transition: all 0.3s ease;
    cursor: pointer;
  }

.portfolio-button:hover {
    padding-right: 30px;
  }
  
.portfolio-button span {
    padding-left: 20px;
    display: inline-block;
    position: relative;
    top: 50%;
    right: 0;
    transform: translateX(-20%);
    transition: transform 0.3s ease;
  }
  
.portfolio-button:hover span {
    transform: translateX(10px);
  }

.wrapper {
    display: grid;
    border-top: 2px solid #353C38;
  }
  
.wrapped-block {
    align-items: center;
    justify-content: center;
    text-align: left;
    position: relative;
    padding: 0;
  }

/* page footer */

.site-footer {
    border-top: 2px solid #343C38;
    background-color: #5B695D;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.site-footer a {
    color: white;
}

.column {
    flex: 1;
    color: white;
    text-align: left;
    justify-content: left;
    display: flex;
}
  
/* portfolio page */

.center-block {
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-top: 2px solid #343C38;
}

.portfolio-block {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.portfolio-block p {
    width: 100%;
    text-align: left;
    padding-left: 10vw;
}

/* testimonials page */

.accordion {
    margin: 10vh auto 10vh auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90vw;
    border-radius: 2px;
    overflow: hidden;
    border-top: 2px solid #343C38;
    border-left: 2px solid #343C38;
    border-right: 2px solid #343C38;
}

.accordion img {
    max-height: 40vh;
    padding: none;
}


.accordion__label {
  padding: 14px 20px;
  display: flex;
}

.accordion__label {
  display: block;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  border-bottom: 2px solid #343C38;
}

.accordion__label:hover {
    background-color: #343c38;
    color: white;
    transition-duration: 0.4s;
}

.accordion__content {
    display: none;
    border-bottom: 2px solid #343C38;
    padding: 2%;
    margin: 0;
}

.accordion__content p {
    padding: 2%;  
    margin: 0;  
}

.accordion__input {
  display: none;
}

.accordion__input:checked ~ .accordion__content {
    height: auto;
    display: flex;
    align-items: center;
}

.accordion__input:checked ~ .accordion__label {
    border-bottom: 1px solid #343C38;
    background-color: #343c38;
    color: white;
    transition-duration: 0.4s;
}

/* contact page */

.form-container {
    color: #343c38;
}

.contact-form {
    max-width: 90%;
}

.input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-row .input-group {
    flex-basis: 47%;
}

.input-group {
    margin-bottom: 30px;
}

.form-container input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0px;
    border: 1px solid #beccc0;
    background-color: #f9f9f9;
    font-size: 15px;
    resize: none;
    font-family: 'Work Sans', sans-serif;
}

.form-container button {
    padding: 10px 0;
    outline: none;
    background: #CD6A14;
    border: 1px solid #343C38;
    width: 20%;
    cursor: pointer;
}